{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<section class="container text-center">
  <h3 id="welcome-message"><strong></strong></h3>
  <hr> <br>
  <div class="row">
    <div class="col-md-3">
      <a href="{% url 'notes' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/notes.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title">Notes</h5>
            Create Notes to refer to them later. They are stored permanently until deleted.
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="{% url 'homework' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/homework.jpg' %}" alt="Homework image">
          <div class="card-body">
            <h5 class="card-title">Homework</h5>
            Add homework and assign deadlines. They are displayed prioritized by deadlines.
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="{% url 'youtube' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/youtube.jpg' %}" alt="YouTube image">
          <div class="card-body">
            <h5 class="card-title">YouTube</h5>
            Search YouTube and select your desired video to play.
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="{% url 'todo' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/todo.jpg' %}" alt="To Do image">
          <div class="card-body">
            <h5 class="card-title">To Do</h5>
            Add your to-do lists for the day and remove them as you finish.
          </div>
        </div>
      </a>
    </div>
  </div>

  <br><br><br>

  <div class="row">
    <div class="col-md-3">
      <a href="{% url 'books' %}">
        <div class="card mt-20">
          <img class="card-img-top" src="{% static 'images/books.jpg' %}" alt="Books image">
          <div class="card-body">
            <h5 class="card-title">Books</h5>
            Browse books from a list of neatly organized options.
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="{% url 'dictionary' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/dictionary.jpg' %}" alt="Dictionary image">
          <div class="card-body">
            <h5 class="card-title">Dictionary</h5>
            Enter a word to quickly get its meaning.
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="{% url 'wiki' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/wiki.jpg' %}" alt="Wikipedia image">
          <div class="card-body">
            <h5 class="card-title">Wikipedia</h5>
            Search Wikipedia for quick homework and assignment help.
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="{% url 'conversion' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/conversion.jpg' %}" alt="Conversion image">
          <div class="card-body">
            <h5 class="card-title">Conversion</h5>
            Use the conversion table to change measurements to your preference.
          </div>
        </div>
      </a>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const message = "Welcome to Students Academic Hub";
    const welcomeElement = document.getElementById("welcome-message").querySelector('strong');
    let index = 0;

    function displayLetters() {
      if (index < message.length) {
        welcomeElement.textContent += message[index];
        index++;
        setTimeout(displayLetters, 100); 
      }
    }

    displayLetters();
  });
</script>
{% endblock content %}
