<div style="height: 150px;"></div> 
<hr style="margin-bottom: 0px;">
<footer class="footer" style="padding-left: 0px; background-color: deepgray; color: white;"> 

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div style="height: 50px;"></div>
                <h5 style="color: white;"><strong>Follow Us</strong></h5>
                <div style="height: 30px;"></div>
                <div class="social-links">
                    <a href="#" style="color: white; font-size: 24px; margin-right: 20px;"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" style="color: white; font-size: 24px; margin-right: 20px;"><i class="fab fa-instagram"></i></a>
                    <a href="#" style="color: white; font-size: 24px; margin-right: 20px;"><i class="fab fa-whatsapp"></i></a>
                    <a href="#" style="color: white; font-size: 24px; margin-right: 20px;"><i class="fab fa-github"></i></a>
                    <a href="#" style="color: white; font-size: 24px; margin-right: 20px;"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
            <div class="col-md-3">
                <div style="height: 50px;"></div>
                <h5 style="color: white;"><strong>Get Help</strong></h5>
                <div style="height: 20px;"></div>
                <div class="social-links">
                    <a href="#" style="color: white;">FAQ</a>
                </div>
                <div class="social-links">
                    <a href="#" style="color: white;">Support Forum</a>
                </div>
                <div class="social-links">
                    <a href="#" style="color: white;">Contact us</a>
                </div>
            </div>
            <div class="col-md-3">
                <div style="height: 50px;"></div>
                <h5 style="color: white;"><strong>Engage</strong></h5>
                <div style="height: 20px;"></div>
                <div class="social-links">
                    <a href="#" style="color: white;">Join a Study Group</a>
                </div>
                <div class="social-links">
                    <a href="#" style="color: white;">Share Your Knowledge</a>
                </div>
                <div class="social-links">
                    <a href="#" style="color: white;">Submit Questions</a>
                </div>
            </div>
            <div class="col-md-3">
                <div style="height: 50px;"></div>
                <h5 style="color: white;"><strong>Explore</strong></h5>
                <div style="height: 20px;"></div>
                <div class="social-links">
                    <a href="#" style="color: white;">Courses</a>
                </div>
                <div class="social-links">
                    <a href="#" style="color: white;">Subjects</a>
                </div>
                <div class="social-links">
                    <a href="#" style="color: white;">Exams</a>
                </div>
                <div class="social-links">
                    <a href="#" style="color: white;">Tutorials</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center"> 
                <div style="height: 50px;"></div>
                <h5 style="color: white;"><strong>Download App</strong></h5>
                <div style="height: 10px;"></div>
                <div class="app-links">
                    <a href="https://developer.apple.com/app-store/marketing/guidelines/#downloadOnAppstore">
                        <img src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg" alt="Download on the App Store" style="height: auto; width: 160px; margin-right: 20px;">
                    </a>
                    <a href="https://play.google.com/store">
                        <img src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png" alt="Get it on Google Play" style="height: auto; width: 160px; margin-right: 20px;">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<div style="height: 70px;"></div>
<p style="background-color: lightgray; color: black; display: block; padding-top: 10px; margin-left: auto; margin-right: 0px; text-align: left; font-weight: bold;">&copy; 2024 Students Academic Hub. All rights reserved.</p>
